{% extends 'base.html.twig' %}

{% block body %}
    <form action="insert-submit" method="post">
        <div class="form-group">
            <label for="question">Question</label>
            <textarea class="form-control" id="question" name="question"></textarea>

            <label for="answer">Answer</label>
            <textarea class="form-control" id="answer" name="answer"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}